/* Header start */
header {
    background-image: url("../images/pngwing10.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #FCEEF1;
}
.banner {
    padding: 140px 0;
}
.banner-text h1 {
    margin-bottom: 30px;
    color: #272727;
    font-size: 45px;
    font-weight: 800;
}
.banner-text p {
    width: 60%;
    margin-bottom: 30px;
}

/* Header end */

/* Main start */

/* Featured Flower section */
.featured-flower {
    padding: 100px 0;
}
.featured-flower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    min-height: 400px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.featured-flower-img img {
    width: 250px;

}
.img-caption {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}


/* Facilities section */
.facilities-section {

}
.facilities-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 70px 50px;
}
.facilities-item img {
    width: 70px;
    margin-bottom: 15px;

}
.facilities-item p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
}

/* Hot deal section */
.hot-deal-section {
    background: rgba(229, 84, 115, 0.05);
    margin: 120px 0;
}
.hot-deal {
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.hot-deal-left {
    width: 50%;
    text-align: center;
}
.hot-deal-left h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hot-deal-left p {
    margin-bottom: 30px;
}
.hot-deal-right {
    width: 50%;
    text-align: center;
}

/* Instagram */
.instagram-section {
    margin-bottom: 100px;
}
.instagram-container {
    display: flex;
    gap: 20px;

}
.insta-img img {
    width: 100%;
}
/* Main end */