/* Common styles */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary {
    padding: 15px 32px;
    border-radius: 5px;
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
/* Header start */
header {
    background-image: url("../images/pngwing10.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #FCEEF1;
}
.banner {
    padding: 140px 0;
}
.banner-text h1 {
    margin-bottom: 30px;
    color: #272727;
    font-size: 45px;
    font-weight: 800;
}
.banner-text p {
    width: 60%;
    margin-bottom: 30px;
}

/* Header end */